.container{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 10vh;;
}
.left{
    display: flex;
    flex-direction: column;
    width:70%;
    @media(max-width:900px){
        width:100%;
    }
}
.trending{
    display: flex;
    align-items: center;
    p{
        text-transform: uppercase;
        margin-right: 10px;
    }
    a{
        color:white;
        text-decoration: none;
        font-weight: bold;
        background:#3db4ae;
        padding:5px 10px;
        margin-left:10px;
    }
    a:hover{
        text-decoration: underline;   
    }
    @media(max-width:800px){
        display:none;
    }
}
.left {
    h3{
        text-transform: uppercase;
        width:100%;
        background-color:lightgray;
        padding:5px 10px;
    }
}
.newsContainer{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
    @media(max-width:850px){
        justify-content:center;
        align-items:center;
        margin:0;
    }
}
.right{ 
    flex:1;
    margin-top:20px;
    margin-left:30px;
    @media(max-width:900px){
        display:none;
    }
}
.weather{
    display:flex;
    flex-direction: column;
    margin-top:70px;

    h4{
        background-color:rgb(237, 237, 237); 
        width:100%;   
        text-align: center;
        margin-top:0;
        padding:8px 0;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.weatherDetails{
    background-color:lightgray;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding:0 15px;
    p{
        margin-top:-16px;
        font-size:10px;
    }
}
.weatherCity{

}
.ad{
    
}
.highlightContainer{
    width:50%;
    display:flex;
    align-items:flex-start;
    margin-left: -10px;
    margin-top:10px;
    padding:10x 0;
    border-bottom : 1px lightgray solid;
    p{
        font-size:16px;
        margin-top:0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
        cursor: pointer;
    }
    p:hover{
        text-decoration: underline;
    }
    img{
        width:100px;
        height:70px;
        margin:0 10px;
        &:hover{
            opacity:0.3;
        }
    }
    @media(max-width:850px){
        width:80%;
    }
}