.container {
  .date {
    color: gray;
    margin-top: -15px;
  }
}
.percentage1 {
  margin-top: -15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: red;
    font-size: 25px;
  }
}
.btn {
  border: 1.5px red solid;
  outline: none;

  background-color: red;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: red;
  }
}

.ctvbtn {
  border: 1.5px #228c22 solid;
  outline: none;

  background-color: #228c22;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: #228c22;
  }
}
.verfbtn {
  border: 1.5px #ee7600 solid;
  outline: none;

  background-color: #ee7600;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: #ee7600;
  }
}
.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   @media (max-width: 800px) {
  //     button {
  //       width: 100%;
  //     }
  //   }
}
