.container{
    width:70%;
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-top: 20px;
    min-height:80vh;
    img{
        width:50%;
        margin-top:20px;
        @media(max-width:800px){
            width:90%
        }
    }
    p{
        width:60%;
        @media(max-width:800px){
            width:90%;
        }
    }
    .ad{
        width:100%;
        display: flex;
        flex-direction:column;
        align-items:center;
    }
    @media(max-width:800px){
        width:100%;
    }
}