.btn{
    border:none;
    outline:none;
    background-color:#0088ff;
    color:white;
    padding:7px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius:5px;
    margin-top:15px;
    border:2px #0088ff solid;
    transition:0.2s;
    &:hover{
        background-color:white;
        color:#0088ff;
    }
}
.miningResult{
    text-align:center;
    a{
        color:blue;
        text-decoration:underline;
    }
}
